services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: guardrails
    volumes:
       - guardrails_postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"

  jaeger-all-in-one:
    profiles: ["otel"]
    image: jaegertracing/all-in-one:latest
    restart: always
    ports:
      - "16686:16686"
      - "14268"
      - "14250"
  
  otel-collector:
    profiles: ["otel"]
    image: otel/opentelemetry-collector-contrib:0.105.0
    command: ["--config=/etc/otel-collector-config.yaml"]
    ports:
      - "4317:4317"   # OTLP gRPC receiver
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
    depends_on:
      - jaeger-all-in-one

volumes:
  guardrails_postgres_data: