services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: guardrails
    volumes:
       - guardrails_postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"

volumes:
  guardrails_postgres_data: