flask
sqlalchemy
lxml
guardrails-ai
# Let this come from guardrails-ai as a transient dependency.
# Pip confuses tag versions with commit ids,
# and claims a conflict even though it's the same thing.
# guard-rails-api-client @ git+https://github.com/guardrails-ai/guardrails-api-client.git@v0.0.2#egg=guard-rails-api-client&subdirectory=guard-rails-api-client
opentelemetry-distro==0.41b0
opentelemetry-sdk==1.20.0
opentelemetry-exporter-otlp-proto-grpc==1.20.0
opentelemetry-exporter-otlp-proto-http==1.20.0
flask_sqlalchemy
werkzeug
jsonschema
referencing
flask_cors
numpy
faiss-cpu
nltk
boto3
gunicorn
psycopg2-binary