flask
sqlalchemy
lxml
opentelemetry-sdk==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-exporter-otlp-proto-http==1.22.0
flask_sqlalchemy
werkzeug
jsonschema
referencing
flask_cors
numpy
faiss-cpu
boto3
gunicorn
psycopg2
# Downgrades
# Remove once guardrails is upgraded
pydantic==1.10.9
openapi-python-client==0.14.1
openai==0.28.1